extends layout

block content
  h1 manualfork
  p.lead A simple, restriction-less forking tool for Github
  hr
  if !user
    .row
      .col-sm-12
        p Github, by design, restricts the number of times you can fork a repo into a single account. Even then, after forking, you are bound to the upstream in your repo page, which if you are doing an iterative work can sometimes be a hinderance to marketing. 
          | There are 
          a(href='https://adrianshort.org/create-multiple-forks-of-a-github-repo/') hacks
          | &nbsp;and 
          a(href='http://therebelrobot.com/tech/2015/10/16/a-simple-method-to-fork-repos-more-than-once.html') workarounds
          | &nbsp;for this, but <strong>manualfork</strong> provides a user-friendly UI to apply them without command line knowledge.
    .row
      .col-sm-4
        h2 
          i.fa.fa-files-o
          | Infinite Copies
        p Ever wanted to start a new project based off an old one? You can do that using <strong>manualfork</strong>. Just put in the source and target repos, and we'll do the rest for you. Easy peasy.
      .col-sm-4
        h2 
          i.fa.fa-code-fork
          | Infinite Forks
        p Ever wanted more than one fork of a repo? Boilerplates? Iterative works? <strong>manualfork</strong> lets you fork to your heart's content.
      .col-sm-4
        h2 
          i.fa.fa-chain-broken
          | Break From Upstream
        p Making a brand new iterative work? What do you do if you want to fork and break from the upstream entirely? With normal forking, your repo will always link back to the upstream version next to the title, but <strong>manualfork</strong> gives you the power to break free and start fresh.
    .row
      .col-sm-4.callout
        h2 Want to get started?
        p
          a.btn.btn-block.btn-github.btn-social(href='/auth/github')
            i.fa.fa-github
            | Sign in with GitHub
          | &nbsp;&nbsp;to fork your first.
        
  else
    .row
      .col-sm-6
        h2 create a new mirror
        p Input the source and target info below, and we'll get you started!
        form(action="/mirror", method="post")
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label(for='source') Source Repo
            input.form-control(name='source' type='text' placeholder='username/repo')
          .form-group
            label(for='target') Target Repo
            input.form-control(name='target' type='text' placeholder='username/repo')
          .checkbox
            label(for="create")
              input(type="checkbox", name="create", checked)
              | Create repo on fork
          button.btn.btn-primary(type="submit") Mirror this repo!
      .col-sm-6
        h2 recent forks
        | &nbsp;
        a.small.hidden(href="#") Clear recent forks
        ul.fork-list
          if mirrors.length
            each mirror in mirrors
              li 
                a(href="https://github.com/#{mirror.target.account}/#{mirror.target.repo}")
                  span.title= mirror.target.account+'/'+mirror.target.repo
                a(href="https://github.com/#{mirror.target.account}/#{mirror.target.repo}")
                  span.upstream= mirror.source.account+'/'+mirror.source.repo
                span.date #{mirror.mirrorDate}
          else
            li 
              span.title No Recent Mirrors.
              span.upstream Mirror a repo to have it show up here.
  hr
  .row
    .col-sm-6
      h2 repo badges
      p Already use manualfork? Want to have your repo mirrored instead of forked? Add a badge to your repo!
      p
        .badge-box.col-sm-6
          code.copy [![manualfork this repo](http://manualfork.therebelrobot.com/badge-large.svg)](http://manualfork.therebelrobot.com/?source=USER/REPO)
          img.float.right(src='/badge-large.svg')
        br
        br
        .badge-box.col-sm-6
          code.copy [![manualfork this repo](http://manualfork.therebelrobot.com/badge-mid.svg)](http://manualfork.therebelrobot.com/?source=USER/REPO)
          img.float.right(src='/badge-mid.svg')
        br
        br
        .badge-box.col-sm-6
          code.copy [![manualfork this repo](http://manualfork.therebelrobot.com/badge-small.svg)](http://manualfork.therebelrobot.com/?source=USER/REPO)
          img.float.right(src='/badge-small.svg')
    .col-sm-6
      h2 cli utility
      p Want to skip the middleman? Use the CLI tool!
      p
        | You can find the 
        code middleman
        | cli utility on the npm registry. Usage details can be found 
        a(href="https://github.com/therebelrobot/node-manualfork") on Github
        br
        img.npm(src="https://nodei.co/npm/manualfork.png?downloads=true")
        img.npm(src="https://nodei.co/npm-dl/manualfork.png?months=3&height=2")
